/* Empty. Add your own CSS if you like */

ion-content {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.radio-player, .radio-player .item {
    background: rgba(0, 0, 0, 0.60);
    color: white;
}